/* .body {
    padding-top: 85px;
    font-family: 'Karla', sans-serif;
    margin-bottom: 20px;
} */

.top-padding {
    padding-top: 100px;
}


/*About me*/
.about-me-hi {
    font-family: 'Pacifico', cursive;
    color: #E3CBC1;
}

.about-me-par{
    text-indent: 30px;
    font-style: italic;
}

.unitalic {
    font-style: normal;
}

.blue{
    color: #2C66BE; 
}

.about-me-header h1, .about-me-footer h1{
    background-color: #E3CBC1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100px;
    font-size: 150px;
    font-weight: bold;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2); 
    /* background-image: url('../images/holo.png');
    -webkit-background-clip: text;
    color: transparent; */
}

.about-me-footer h1{
    width: 99px;
}

.about-me-header .header-space{
    width: 40px;
}

.about-me-header .header-w{
    width: 132px;
    font-size: 140px;
}

.about-me-header .header-end{
    width: 119px;
}




/*Star---*Star---*Star---*Star---*Star---*Star---*Star---*Star---*Star---*Star---*/
.rating-star-radio{
    display: none;
}

.cursor-pointer:hover{
    cursor: pointer;
}

.no-pointer:hover{
    cursor: default;
}


/*My rides page---My rides page---My rides page---My rides page---My rides page---*/
/*TABLE*/

.table-header {
    color: #eba92a;
    font-weight: bold;
    padding-top: 30px;
}

/*Post ride page---Post ride page---Post ride page---Post ride page---Post ride page---*/
.f-grey {
    background-color: rgb(245,245,245);
    /* border: 1px solid #388087; */
    border-radius: 10px;
    padding: 20px;
    }
    
form h3 {
    color: #eba92a;
    font-weight: bold;
}

/*Search ride---Search ride---Search ride---Search ride---Search ride---*/
.text-header h1{
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    color: white;
    text-shadow: 0 0 3px #eba92a, 0 0 8px #eba92a;
}

.animated {
    animation-duration: 5s;
    animation-delay: -1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    30% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
  }

  .bounce {
    animation-name: bounce;
  }


/*Dashboard page---Dashboard page---Dashboard page---Dashboard page---Dashboard page---Dashboard page---*/
.inner {
    border-radius: 20px;
    padding: 10px;
    height: 150px;
    color: white;
}

.inner-0 {
    background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);    
}

.inner-1 {
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);

}

.inner-2 {
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
}

.inner-3 {
    background-color: #6a93cb;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
}

.inner h1 {
    font-size: 70px;
    text-shadow: 0 0 3px #F5D5C8, 0 0 8px #F5D5C8;
}

/*Profile page---Profile page---Profile page---Profile page---Profile page---Profile page---*/
.feedback-wrap{
    height: 400px;
    overflow: auto;
}

.notification-wrap{
    height: 200px;
    overflow: auto;
    margin-bottom: 20px;
}

.map-pin-align{
    margin-left: 14px;
}

/*Notification Section*/
.gray-text {
    color: gray;
} 

.white-icon{
    color: white;
}

.profile-image{
    border-radius: 50%;
}

.remove-cursor-pointer:hover{
    cursor: none;
}


/*Messages---Messages---Messages---Messages---Messages---*/
.message-box{
    height: 500px;
    overflow-y: scroll;
}

.user-message, .other-user-message {
    background-color: #79C7C4;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.other-user-message{
    background-color: #ECF1F8;
    color: black;
}

.small-text{
    font-size: 10px;
    color: gray;
    margin-top: 5px;
}

.convos-table{
    height: 100%;
    background-color:  #ECF1F8;
    opacity: 0.8;
}

/* .format-data{
    overflow-x: hidden;
    width: 400px;
} */

.test-border{
    border: 2px solid #ECF1F8;
}

.border-line{
    width:100%;
    height: 0.05rem;
    background-color: #ECF1F8;
    margin: 5px 0px;
}

