.body {
    padding-top: 85px;
    font-family: 'Karla', sans-serif;
}

footer {
    margin-top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}



/*Undo the padding from flash msgs in style.css*/
.flash-msg{
    padding-top: 0px;
}

/*My rides page---My rides page---My rides page---My rides page---My rides page---*/
/*TABLE*/
.current-rides{
    padding-top: 85px;
}

h3 {
    color: #eba92a;
    font-weight: bold;
}

.nav-tabs a {
    color: black;
}

/*Post ride page---Post ride page---Post ride page---Post ride page---Post ride page---*/
.post-ride{
    margin-top: 100px;
}

.f-grey {
    background-color: #ECECEC;
    border-radius: 10px;
    padding: 20px;
    }
    
form h3 {
    color: #eba92a;
    font-weight: bold;
}

#map {
    height: 525px;
}
  
/*Search ride---Search ride---Search ride---Search ride---Search ride---*/
.search-container{
    padding-top: 100px;
}

.msg{
    font-weight: bold;
    padding: 10px;
    display: inline-block;
}

.car-img{
    height: 300px;
    width: 400px;
    transform: scaleX(-1);
}


/*Profile page---Profile page---Profile page---Profile page---Profile page---Profile page---*/
.inner {
    border-radius: 20px;
    padding: 10px;
    height: 150px;
    color: white;
}

.inner-0, .inner-2 {
    background-color: #eba92a;
}


.inner-1, .inner-3 {
    background-color: #388087;
}

.inner h1 {
    font-size: 70px;
    text-shadow: 0 0 3px #F5D5C8, 0 0 8px #F5D5C8;
}

.bio {
    border: 1px solid #388087;
    height: 525px;
    padding: 10x;
}

.text-header h1{
    font-weight: bold;
    font-size: 80px;
    color: white;
    text-shadow: 0 0 3px #388087, 0 0 8px #388087;

}

li:hover{
    cursor: pointer;
   }

.travel-header{
    color: #eba92a;
}



/*Bounce animation - courtesy of https://codepen.io/levineuland*/

.animated {
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    30% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
  }

  .bounce {
    animation-name: bounce;
  }
