body {
    overflow-x: hidden;
    color: black;
    font-family: 'Karla', sans-serif;
  }

.btn-theme {
    color: white;
    background-color: #388087;
}

.btn-yellow {
  color: white;
  background-color: #eba92a;
}

.btn-yellow:hover {
  background-color: #F32013;
  color: white;

}

.btn-transparent {
  color: #3366BB;
  background-color: transparent;
  border: transparent;
}

.alert-position{
  margin-top: 70px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.yellow{
  color: #eba92a;
}
  
/*NAVBAR---NAVBAR---NAVBAR---NAVBAR---NAVBAR---NAVBAR---NAVBAR---*/
.navbar-custom {
    background-color: #388087;
    opacity: 0.8;
  }

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .btn {
  color: white;
} 

.navbar-brand{
  font-family: 'Pacifico', cursive;
  font-weight: 500;
  font-size: 20px;
}

  /* .login-register-msg{
    padding-top: 70px;
    text-align: center;
    font-weight: bold;
  } */

/*FOOTER---FOOTER---FOOTER---FOOTER---FOOTER---FOOTER---FOOTER---FOOTER---FOOTER---*/
footer {
    background-color: #388087;
    color: white;
    padding: 20px;
    opacity: 0.8;
  }
  
  footer h3 {
    color: white;
  }
  
  footer a {
    color: #eba92a;
  }
  
  #app-name{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
  }