<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title> {% block title %}Joyride{% endblock %} </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Pacifico&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
  </head>
  <body class = "body">
    {% block navbar %}
    <!---Start Navigation-->
    <nav class="navbar navbar-expand-md fixed-top navbar-custom">
      <div class="container">
        <a class="navbar-brand" href="/">Joyride</a>

        {% if 'user_id' in session %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="/search" class="btn navbar-btn shadow-none">Search</a>
          </li>
          <li class="nav-item">
            <a href="/post" class="btn navbar-btn shadow-none">Post</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn dropdown-toggle shadow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                My Rides
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/current-rides">Current Rides</a>
                <a class="dropdown-item" href="/past-rides">Past Rides</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a href="/profile" class="btn navbar-btn shadow-none">Profile</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="btn navbar-btn shadow-none">Log Out</a>
          </li>
          </li>
        </ul>
      {% else %}
      <!---Not Logged In Navigation-->
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="btn navbar-btn shadow-none" data-toggle="modal" data-target="#login">Log In</button>
        </li>
        <li class="nav-item">
          <button class="btn navbar-btn shadow-none" data-toggle="modal" data-target="#signup">Sign Up</button>
        </li>
      </ul>
      <!---End Navigation-->
      {% endif %}
    </div>
  </nav>
  {% endblock %}

  {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
  {% endfor %}

  {% block body %}
  {% endblock %}

  <!-- Footer -->
  <footer class= "footer">
      <div class="container"> 
        <!-- Copyright -->
        <div class="row">
          <div class="col-md-6">
            <p id="app-name"> Joyride</p>
            &copy; 2020 Tiffany Luu
          </div>
          <div class="col-md-3">
            <p>
              <i class="fas fa-envelope fa-2x mr-1" data-fa-transform="left-2 down-4"></i>
              tiffanyell1@gmail.com
            </p>
            <p>
              <i class="fab fa-linkedin fa-2x mr-2" data-fa-transform="down-3"></i>
              <a href="https://www.linkedin.com/in/tiffany-luu-088b07143/" target="_blank">Click here</a>
            </p>
            <p><i class="fab fa-github fa-2x mr-1" data-fa-transform="down-3 left-2"></i>
              <a href="https://github.com/telle1" target="_blank">Click here</a>
            </p>
          </div>
          <div class="col-md-3">
            <h3>About Us</h3>
            <p>Joyride was created in November 2020 by <a href="https://www.linkedin.com/in/tiffany-luu-088b07143/" target="_blank">Tiffany Luu</a>, 
              a student of Hackbright Academy, with the aim of increasing affordability for long-distance travel.
            </p>
          </div>
        </div>  
    </div>  
  </footer>


    <!--Modals-->
    <!--Login Modal-->
    <div class="modal fade" id="login">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title w-100 text-center">USER LOGIN</h2x`>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!--Form-->
            <form action="/process-login" method="post">
              <div class="input-group input-group-lg mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Email" name="email" required>
              </div>
              <div class="input-group input-group-lg mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-lock"></i></i></span>
                </div>
                <input type="password" class="form-control" placeholder="Password" name="password" required>
              </div>     
              <div class="form-group mb-4">
                <button type="submit" class="btn btn-theme form-control">Login</button> 
              </div>  
            </form>
          </div>
          <div class="modal-footer">
            <p class = "w-100 text-center">Not a member? Sign up <a href="#" data-toggle="modal" data-target="#signup">here</a></p>
          </div>
        </div>
      </div>
    </div>
    <!--Signup Modal-->
    <div class="modal fade" id="signup">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title w-100 text-center">USER SIGNUP</h2x`>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!--Form-->
            <form action="/process-signup" method="post">
              <div class="input-group input-group-lg mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="First Name" name="f_name" required/>
              </div>
              <div class="input-group input-group-lg mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Last Name" name="l_name" required/>
              </div>
              <div class="input-group input-group-lg mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Email" name="email" id="email" required/>
              </div>
              <div class="input-group input-group-lg mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-phone"></i></span>
                </div>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="8888888888" pattern="\d{10}" required>
              </div>
              <div class="input-group input-group-lg mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-lock"></i></i></span>
                </div>
                <input type="password" class="form-control" placeholder="Password" name="password" id="password" required/>
              </div>
              <div class="input-group input-group-lg mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="Re-enter Password" name="confirmpassword" id="confirmpassword" required/>
              </div>  
              <div class="form-group mb-4">
                <button type="submit" class="btn btn-theme form-control" id="submit-button">Signup</button> 
              </div> 
              <p id = "alert-pw" class='text-center'></p>
            </form>
          </div>
        </div>
      </div>
    </div>
 
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>
