<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Joyride</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/inner.css" />
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet">  
  </head>
  <body> 
    <!---Start Navigation-->
    <nav class="navbar navbar-expand-md fixed-top navbar-custom">
      <div class="container">
        <a class="navbar-brand" href="#">Joyride</a>

        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="search" class="btn navbar-btn shadow-none">Search</a>
          </li>
          <li class="nav-item">
            <a href="post" class="btn navbar-btn shadow-none">Post</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn dropdown-toggle shadow-none" type="button" id="#" data-toggle="dropdown">
                My Rides
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Current Rides</a>
                <a class="dropdown-item" href="#">Past Rides</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a href="#" class="btn navbar-btn shadow-none">Log Out</a>
          </li>
        </ul>
          
      </div>
    </nav>
    <!---End Navigation-->
<div class="container container-height">
    <div class="row">
        <form action='#' class="form-inline mx-auto">
            <input type="text" class="form-control mr-2" name="from_input" placeholder="Start Location">
            <input type="text" class="form-control mr-2" name="from_input" placeholder="Destination">
            <input type="datetime-local" class="form-control" name="date">
            <button type="submit" class="btn btn-theme my-1">Search</button>
        </form>
    </div>

   <div class="row mt-3">
       <div class="col-md-6">
                <div class="card mb-3">
                    <h5 class="card-header">Featured</h5>
                    <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div> 
       </div>
       <div class="col-md-6">
                <div class="card mb-3">
                    <h5 class="card-header">Featured</h5>
                    <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
       </div>
   </div> 
</div>
</div>



        <!--- Script Source Files -->
       <!-- <script src="../static/js/jquery-3.3.1.min.js"></script>
        <script src="../bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>REPLACED WITH THE 3 BELOW->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        

        <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>

        <!--- End of Script Source Files -->
      </body>
    </html>
    