{% extends 'base.html' %}

{% block title %}Current Trips{% endblock %}

{% block head %} 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/inner.css" />
{% endblock %}

{% block body %}
<div class="container">

  <ul class="nav nav-tabs">
    <li class="mr-2">
      <a data-toggle="tab" href="#driving">Driving</a>
    </li>
    <li>
      <a data-toggle="tab" href="#riding">Riding</a>
    </li>
  </ul>  

  <div class="msg mt-3" id="msg"></div>
  <!---DRIVING TABLE-->
  <div class="tab-content">
    <div id="driving" class="tab-pane fade in active">
      <h3>DRIVING</h3>
      <table class="table table-bordered table-striped">
          <thead>
          <tr>
              <th scope="col">Date</th>
              <th scope="col">Location</th>
              <th scope="col">Seats</th>
              <th scope="col">Price</th>
              <th scope="col">Passengers</th>
              <th scope="col">Status</th>
          </tr>
          </thead>
          <tbody>
          {% for rides in user_drives|sort(attribute='date') %}
          <tr>
              <th scope="row">{{rides.date}}</th>
              <td>{{rides.start_loc}} -> {{rides.end_loc}}</td>
              <td id ="row-seats-{{rides.ride_id}}">{{rides.seats}}</td>
              <td>${{rides.price}}</td>
              <td id='passengers-{{rides.ride_id}}'>
                {% for req in rides.request %}
                  {% if req.status == 'Approved' %}
                    <p class='mb-0'>{{req.user.first_name}} {{req.user.last_name}}</p>
                  {% endif %}
                {% endfor %}
              </td>
              <td>
                {% for req in rides.request %}
                  {% if req.status == 'Pending' %}
                <form action="/confirm-rides.json" id="confirm-rides-{{req.request_id}}" method="post">
                <span>Rider id {{req.rider_id}} ride id {{req.ride_id}}</span>
                <input type="hidden" value = {{req.rider_id}} id = 'rider_id' name = 'rider_id'>
                <input type="hidden" value = {{req.request_id}} id = 'request_id' name = 'request_id'>
                <input type="radio" id="approved" name="request_status-{{req.request_id}}" value="Approved">
                <label for="Approved">Approve</label>
                <input type="radio" id="denied" name="request_status-{{req.request_id}}" value="Denied">
                <label for="Denied">Deny</label>
                <button type="submit" class="btn btn-theme">Confirm</button>
                <br>
                <br>
                </form>
                  {% endif %}
                {% endfor %}
              </td>                              
          </tr>
          {% endfor %}
          </tbody>
      </table>
  </div>

<!---RIDING TABLE-->
<div id="riding" class="tab-pane">
  <h3>RIDING</h3>
  <table class="table table-bordered table-striped">
      <thead>
      <tr>
          <th scope="col">Date</th>
          <th scope="col">From</th>
          <th scope="col">To</th>
          <th scope="col">Driver</th>
          <th scope="col">Cost</th>
          <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      {% for req in current_user_rides|sort(attribute='ride.date') %}
      <tr>
        <th scope="row">{{req.ride.date}}</th>
        <td>{{req.ride.start_loc}}</td>
        <td>{{req.ride.end_loc}}</td>
        <td>{{req.ride.driver_id}}</td>
        <td>${{req.ride.price}}</td>
        <td>{{req.status}}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
</div>
</div>
{% endblock %}  





{% block script %}

{% for rides in user_drives %}
{% for req in rides.request %}
<script>
  $(document).ready(function () {
  function confirmRequests(evt){
    evt.preventDefault();
    let url = '/confirm-rides.json';
    let formData = {
      "rider_id": {{req.rider_id}},
      "request_id": {{req.request_id}},
      "ride_id": {{req.ride_id}},
      "status": $("input[type='radio'][name='request_status-{{req.request_id}}']:checked").val()
    }

    $.post(url, formData, (res) => {
      console.log(res)
      $(`#confirm-rides-{{req.request_id}}`).hide();
      $('#msg').html('<p>' + res.msg + '<p>')
      $(`#row-seats-{{rides.ride_id}}`).html('<p>' + res.seats + '<p>');
      if (res.first_name && res.last_name){
      $(`#passengers-{{rides.ride_id}}`).append('<p>' + res.first_name + res.last_name + '<p>')
      }
    })

  }

  $(`#confirm-rides-{{req.request_id}}`).on('submit', confirmRequests)
  });

</script>
{% endfor %}
{% endfor %}
{% endblock %}

