{% extends 'base.html' %}

{% block title %}Current Trips{% endblock %}
{% block head %} 
<link rel="stylesheet" href="../static/css/inner.css" />

{% endblock %}

{% block body %}
  
      <!---Start Table 1-->
      <div class="container">
          <h3>DRIVING</h3>
          <table class="table table-bordered table-striped">
              <thead>
              <tr>
                  <th scope="col">Date</th>
                  <th scope="col">From</th>
                  <th scope="col">To</th>
                  <th scope="col">Passengers</th>
                  <th scope="col">Charge</th>
                  <th scope="col">Status</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <th scope="row">1</th>
                  <td>Test</td>
                  <td>Test</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>
                    <button type="button" class="btn btn-theme" data-toggle="modal" data-target="#check_status">Check</button>
                  </td>
              </tr>
              </tbody>
          </table>
  
        <!---Start Table 2-->
          <h3>RIDING</h3>
          <table class="table table-bordered table-striped">
              <thead>
              <tr>
                  <th scope="col">Date</th>
                  <th scope="col">From</th>
                  <th scope="col">To</th>
                  <th scope="col">Driver</th>
                  <th scope="col">Cost</th>
                  <th scope="col">Status</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
              </tr>
              </tbody>
          </table>
      </div>
  
  
      <!--modals-->
      <div class="modal" role="dialog" id="check_status">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}  