{% extends 'base.html' %}

{% block title %}Current Trips{% endblock %}

{% block head %} 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/inner.css" />
{% endblock %}

{% block body %}
<div class="container">

  <ul class="nav nav-tabs">
    <li class="mr-2">
      <a data-toggle="tab" href="#driving">Driving</a>
    </li>
    <li>
      <a data-toggle="tab" href="#riding">Riding</a>
    </li>
  </ul>  

  <div class="msg mt-3" id="msg"></div>
  <!---DRIVING TABLE-->
  <div class="tab-content">
    <div id="driving" class="tab-pane fade in active">
      <h3>DRIVING</h3>
      <table class="table table-bordered table-striped">
          <thead>
          <tr>
              <th scope="col">Date</th>
              <th scope="col">Location</th>
              <th scope="col">Seats</th>
              <th scope="col">Price</th>
              <th scope="col">Passengers</th>
              <th scope="col">Status</th>
          </tr>
          </thead>
          <tbody>
          {% for rides in user_drives|sort(attribute='date') %}
          <tr>
              <th scope="row">{{rides.date}}</th>
              <td>{{rides.start_loc}} -> {{rides.end_loc}}</td>
              <td id ="row-seats-{{rides.ride_id}}">{{rides.seats}}</td>
              <td>${{rides.price}}</td>
              <td id='passengers-{{rides.ride_id}}'>
                {% for req in rides.request %}
                  {% if req.status == 'Approved' %}
                 <!--   <p class='mb-0'>{{req.user.first_name}} {{req.user.last_name}}</p> -->
                 <p><a data-toggle="modal" href="#user-info-{{req.user.user_id}}">{{req.user.first_name}} {{req.user.last_name}}</a></p>
                  {% endif %}
                {% endfor %}
              </td>
              <td>
                {% for req in rides.request %}
                  {% if req.status == 'Pending' %}
                <form action="/confirm-rides.json" id="confirm-rides-{{req.request_id}}" method="post">
              <!--  <span>Rider id {{req.rider_id}} ride id {{req.ride_id}}</span> -->
                <span><a data-toggle="modal" href="#user-info-{{req.user.user_id}}">{{req.user.first_name}} {{req.user.last_name}}</a></span>

                <input type="hidden" value = {{req.rider_id}} id = 'rider_id' name = 'rider_id'>
                <input type="hidden" value = {{req.request_id}} id = 'request_id' name = 'request_id'>
                <input type="radio" id="approved" name="request_status-{{req.request_id}}" value="Approved">
                <label for="Approved">Approve</label>
                <input type="radio" id="denied" name="request_status-{{req.request_id}}" value="Denied">
                <label for="Denied">Deny</label>
                <button type="submit" class="btn btn-theme">Confirm</button>
                <br>
                <br>
                </form>
                  {% endif %}
                {% endfor %}
              </td>                              
          </tr>
          {% endfor %}
          </tbody>
      </table>
  </div>

<!---RIDING TABLE-->
<div id="riding" class="tab-pane">
  <h3>RIDING</h3>
  <table class="table table-bordered table-striped">
      <thead>
      <tr>
          <th scope="col">Date</th>
          <th scope="col">From</th>
          <th scope="col">To</th>
          <th scope="col">Driver</th>
          <th scope="col">Cost</th>
          <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      {% for req in current_user_rides|sort(attribute='ride.date') %}
      <tr>
        <th scope="row">{{req.ride.date}}</th>
        <td>{{req.ride.start_loc}}</td>
        <td>{{req.ride.end_loc}}</td>
      <!--  <td>{{req.ride.user.first_name}} {{req.ride.user.last_name}}</td> -->
        <td><p><a data-toggle="modal" href="#driver-info-{{req.ride.driver_id}}">{{req.ride.user.first_name}} {{req.ride.user.last_name}}</a></p></td>
        <td>${{req.ride.price}}</td>
        <td>{{req.status}}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
</div>
</div>

{% for rides in user_drives|sort(attribute='date') %}
{% for req in rides.request %}
<!--Passenger Info Modal-->
<div class="modal" id="user-info-{{req.user.user_id}}" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center"> Contact Info for {{req.user.first_name}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p><span class='font-weight-bold'>Email:</span> {{req.user.email}}</p>
        <p><span class='font-weight-bold'>Phone:</span> {{req.user.phone_num}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-theme" data-dismiss="modal">Close</button>
      </div>
    </div> 
  </div>
</div>
{% endfor %}
{% endfor %}

{% for req in current_user_rides %}
<!--Driver Info Modal (Riding Page)-->
<div class="modal" id="driver-info-{{req.ride.driver_id}}" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center"> Contact Info for {{req.user.first_name}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p><span class='font-weight-bold'>Email:</span> {{req.ride.user.email}}</p>
        <p><span class='font-weight-bold'>Phone:</span> {{req.ride.user.phone_num}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-theme" data-dismiss="modal">Close</button>
      </div>
    </div> 
  </div>
</div>
{% endfor %}
{% endblock %}  

{% block script %}

{% for rides in user_drives %}
{% for req in rides.request %}
<script>
  $(document).ready(function () {
  function confirmRequests(evt){
    evt.preventDefault();
    let url = '/confirm-rides.json';
    let formData = {
      "rider_id": {{req.rider_id}},
      "request_id": {{req.request_id}},
      "ride_id": {{req.ride_id}},
      "status": $("input[type='radio'][name='request_status-{{req.request_id}}']:checked").val()
    }

    $.post(url, formData, (res) => {
      console.log(res)
      $(`#confirm-rides-{{req.request_id}}`).hide();
      $('#msg').html('<p>' + res.msg + '<p>')
      $(`#row-seats-{{rides.ride_id}}`).html('<p>' + res.seats + '<p>');
      if (res.first_name && res.last_name){
      //$(`#passengers-{{rides.ride_id}}`).append('<p>' + res.first_name + res.last_name + '<p>')
      $(`#passengers-{{rides.ride_id}}`).append('<p><a data-toggle="modal" href="#user-info-{{req.user.user_id}}">' + res.first_name + res.last_name + '</a></p>')      
      }
    })

  }

  $(`#confirm-rides-{{req.request_id}}`).on('submit', confirmRequests)
  });

</script>
{% endfor %}
{% endfor %}
{% endblock %}

