{% extends 'base.html' %}

{% block title %}Joyride{% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/css/homepage.css" />
{% endblock %}


{% block body %}
    <!--Start Landing Page-->
    <section id="homesection">
            <h1>Enjoy the <span class="animate"></span></h1>
    </section>
    <!--End Landing Page-->
    <!--Start 2 column what it is page-->
    <section id="what-row">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-6 what">
            <div class="col-left">
              <div class="heading-underline"></div>
              <h3>THE BEST LONG DISTANCE RIDESHARE.</h3>
              <h5>Join our welcoming community of carpoolers.</h5>
            </div>
          </div>

          <div class="col-md-6 what">
            <div class = "col-right">
              <div class="heading-underline"></div>
              <h3>FIND OR GIVE A RIDE.</h3>
              <h5>Search our user-friendly site for listings.</h5>
            </div>
          </div>

        </div>
      </div>
    </section>   
    <!--Start Why Joyride with 3 features page-->
    <section id = "why">
        <div class="container">
          <div class="col-12">
            <h3 class="heading">Why Joyride?</h3>
            <div class="heading-underline"></div>
          </div>
        <div class="row text-center py-4">
          <div class="col-md-4">
            <div class="feature py-4">
              <i
                class="fas fa-piggy-bank fa-4x"
                style="color: #388087"
                data-fa-transform="shrink-3 up-4"
              ></i>
              <h3>Save Money</h3>
              <p class="text-justify">
                Less than an Uber or flight. It's not about finding savings at the pump,
                but finding savings before. Instead of paying for gas all by yourself, 
                split the cost with Joyride and make your wallet smile.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature py-4">
              <i
                class="fas fa-users fa-4x"
                style="color: #388087"
                data-fa-transform="shrink-3 up-2"
              ></i>
         

              <h3>Connect with Community</h3>
              <p class="text-justify">
                Meet new friends along the way. Our riders are always up for new
                adventures and road trips. Or take along family, friends, coworkers,
                teammates, and much more. What better way to enjoy the ride?
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature py-4">
              <i
                class="fas fa-globe-americas fa-4x"
                style="color: #388087"
                data-fa-transform="shrink-3 up-2"
              ></i>
              <h3>Help the Earth</h3>
              <p class="text-justify">
                Reduce your carbon footprint. Did you know that a whopping 28% of greenhouse
                gas emissions come from transportation? Help save the Earth and fight for
                climate change by riding with us.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End Why Joyride with 3 features page-->
    <!--Start How it Works/Video-->
    <section id = "how">
      <div class = "container">
  
        <div class="col-12">
          <h3 class="heading">How It Works</h3>
          <div class="heading-underline"></div>
        </div>

        <div class = "row py-5 align-items-center">

          <div class = "col-md-6 d-none d-md-block">
            <div class = "how-steps">
            <div class = "how-step">
                <i
                class="fas fa-search fa-4x mr-4"
                style="color: #eba92a"
                data-fa-transform="shrink-3 up-2"
                ></i>
                <h4>Simply <span>check</span> for rides travelling to your destination.</h4>
            </div>

            <div class = "how-step">
                <i
                class="fas fa-car fa-4x mr-4"
                style="color: #eba92a"
                data-fa-transform="shrink-3 up-2"
                ></i>
                <h4><span>Match</span> with a driver.</h4>
            </div>

            <div class = "how-step">
                <i
                class="far fa-handshake fa-4x mr-2 "
                style="color: #eba92a"
                data-fa-transform="shrink-3 up-2 left-2"
                ></i>
                <h4><span>Negotiate</span> on a great price.</h4>
            </div>

            <div class = "how-step">
                <i
                class="fas fa-flag-checkered fa-4x mr-4"
                style="color: #eba92a"
                data-fa-transform="shrink-3 up-2"
                ></i>
                <h4>Happily <span>reach</span> your destination.</h4>
            </div>
          </div>
        </div>
  
          <div class = "col-md-6 vid">
              <iframe
                width="520"
                height="420"
                src="https://www.youtube.com/embed/V_lAhqLXT9A"
                
                style = "border: none; margin-left: 30px"
              >
              </iframe> 
          </div>
        </div>
      </div>
    </section>
    <!--Testimonial Carousel Slider-->
    <section id = "carousel-slider">
        <div class="col-12">
          <h3 class="heading">Testimonials</h3>
          <div class="heading-underline"></div>
        </div>

        <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
          <div class="container">
            <div class="carousel-inner">
              <div class="carousel-item active">    
                  <div class="row">
                    <div class="col-md-4 text-center">
                      <div class="profile">
                        <img src='../static/images/beach_pic.jpg' alt="user">
                        <blockquote>Hi this is my testimonial. Hi this is my testimonial. 
                            Hi this is my testimonial. Hi this is my testimonial. Hi this is my testimonial. Hi this is my testimonial. 
                            Hi this is my testimonial. Hi this is my testimonial. 
                        </blockquote>
                        <h3>User Name</h3>
                      </div>
                    </div>
            
                    <div class="col-md-4 text-center">
                      <div class="profile">
                        <img src='../static/images/beach_pic.jpg' alt="user">
                        <blockquote>Hi this is my testimonial. Hi this is my testimonial. 
                          Hi this is my testimonial. Hi this is my testimonial. Hi this is my testimonial. Hi this is my testimonial. 
                          Hi this is my testimonial. Hi this is my testimonial. 
                        </blockquote>
                        <h3>User Name</h3>
                      </div>
                    </div>
            
                    <div class="col-md-4 text-center">
                      <div class="profile">
                        <img src='../static/images/beach_pic.jpg' alt="user">
                        <blockquote>Hi this is my testimonial. Hi this is my testimonial. 
                          Hi this is my testimonial. Hi this is my testimonial. Hi this is my testimonial. Hi this is my testimonial. 
                          Hi this is my testimonial. Hi this is my testimonial. 
                        </blockquote>
                        <h3>User Name</h3>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4 text-center">
                    <div class="profile">
                      <img src='../static/images/beach_pic.jpg' alt="user">
                      <blockquote>Hi this is my testimonial. Hi this is my testimonial. 
                          Hi this is my testimonial. Hi this is my testimonial. Hi this is my testimonial. Hi this is my testimonial. 
                          Hi this is my testimonial. Hi this is my testimonial. 
                      </blockquote>
                      <h3>User Name</h3>
                    </div>
                  </div>
                  <div class="col-md-4 text-center">
                    <div class="profile">
                      <img src='../static/images/beach_pic.jpg' alt="user">
                      <blockquote>Hi this is my testimonial. Hi this is my testimonial. 
                        Hi this is my testimonial. Hi this is my testimonial. Hi this is my testimonial. Hi this is my testimonial. 
                        Hi this is my testimonial. Hi this is my testimonial. 
                      </blockquote>
                      <h3>User Name</h3>
                    </div>
                  </div>
                  <div class="col-md-4 text-center">
                    <div class="profile">
                      <img src='../static/images/beach_pic.jpg' alt="user">
                      <blockquote>Hi this is my testimonial. Hi this is my testimonial. 
                        Hi this is my testimonial. Hi this is my testimonial. Hi this is my testimonial. Hi this is my testimonial. 
                        Hi this is my testimonial. Hi this is my testimonial. 
                      </blockquote>
                      <h3>User Name</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#testimonials-carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#testimonials-carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        </div>
    </section>

    <!--Modals-->
    <!--Login Modal-->
    <div class="modal fade" id="login">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title w-100 text-center">USER LOGIN</h2x`>
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!--Form-->
              <form action="/process-login" method="post">
                <div class="input-group input-group-lg mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email" name="email" required>
                </div>
                <div class="input-group input-group-lg mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" name="password" required>
                </div>     
                <div class="form-group mb-4">
                  <button type="submit" class="btn btn-theme form-control">Login</button> 
                </div>  
              </form>
            </div>
            <div class="modal-footer">
              <p class = "w-100 text-center">Not a member? Sign up <a href="#" data-toggle="modal" data-target="#signup">here</a></p>
            </div>
          </div>
        </div>
      </div>
      <!--Signup Modal-->
      <div class="modal fade" id="signup">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title w-100 text-center">USER SIGNUP</h2x`>
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!--Form-->
              <form action="/process-signup" method="post">
                <div class="input-group input-group-lg mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="First Name" name="f_name" required/>
                </div>
                <div class="input-group input-group-lg mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Last Name" name="l_name" required/>
                </div>
                <div class="input-group input-group-lg mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email" name="email" id="email" required/>
                </div>
                <div class="input-group input-group-lg mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" name="password" id="password" required/>
                </div>
                <div class="input-group input-group-lg mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Re-enter Password" name="confirmpassword" id="confirmpassword" required/>
                </div>  
                <div class="form-group mb-4">
                  <button type="submit" class="btn btn-theme form-control" id="submit-button">Signup</button> 
                </div> 
                <p id = "alert-pw" class='text-center'></p>
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script> <!--Animation CDN-->
    <script>
        //Animate header
        var typed = new Typed('.animate', {
        strings: ['ride.', 'company.', 'savings.'],
        typeSpeed: 80,
        backSpeed: 80,
        loop: true,
        smartBackspace: true 
      });
    </script>
    <script>
    $('.carousel').carousel({
      interval: 3000,
      pause: 'hover'
    })
    </script>
    <script>
    $('#password, #confirmpassword').on('keyup', function () {
      if ($('#password').val() == $('#confirmpassword').val()) {
        $('#submit-button').prop( "disabled", false)
        $('#alert-pw').hide();
      } else {
      $('#submit-button').prop( "disabled", true)
      $('#alert-pw').html('Passwords must match.')
      }
    });
    </script>
{% endblock %}