{% extends 'base.html' %}

{% block title %}Post A Ride{% endblock %}
{% block head %} 
<link rel="stylesheet" href="../static/css/inner.css" />
{% endblock %}

{% block body %}

  <!--Main Content-->
  <div class="container post-ride">
    <div class="row">
      <div class="col-md-5">
        <form action="/post-complete" method="post" class="f-grey">
          <h3 class="mb-3"> Post a Ride</h3>
          <div class="form-group row">
            <div class = "col-md-3 col-form-label">
              <label for="#">From</label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="from_input" id="from_input" placeholder="Start Location" required>
            </div>
          </div>
          <div class="form-group row">
            <div class = "col-md-3 col-form-label">
              <label for="#">To</label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="to_input" id="to_input" placeholder="End Location" required>
            </div> 
          </div>
          <div class="form-group row">
            <div class = "col-md-3 col-form-label">
              <label for="#">Date</label>
            </div>
            <div class="col-sm-9">
              <input type="date" class="form-control" name="date" id="date">
            </div> 
          </div>
          <div class="form-group row">
            <div class = "col-md-3 col-form-label">
              <label for="#">Seats</label>
            </div>
            <div class="col-sm-9">
              <input type="number" class="form-control" name="seats" placeholder="0" min="0">
            </div>
          </div>
          <div class="form-group row">
            <div class = "col-md-3 col-form-label">
              <label for="#">Price</label>
            </div>
            <div class="col-sm-9">
              <input type="number" class="form-control" name="price" placeholder="0" min="0">
            </div>
          </div>
          <div class="form-group row">
            <div class = "col-md-3 col-form-label">
              <label for="#">Comments</label>
            </div>
            <div class="col-sm-9">
              <textarea class="form-control" name="comments" rows="5"></textarea>
            </div>
          </div>
          <div class="row">
          <button type="submit" class="btn btn-theme ml-auto mr-3" id= "submit-button">Submit</button>
          </div>
          <p id = "alert" class='text-center'></p>
        </form>
      </div>
      <div class="col-md-7">
        <div id="map"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
<script src="../static/js/maps.js"></script> <!--Map script tag-->
<script
  src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=places&v=weekly"
  defer
></script>  <!--Map script tag-->  
<script>
  $('#date').change(function(){
    let dateAsString = document.getElementById('date').value
    // console.log(dateAsString)
    // console.log(typeof(dateAsString))
    let dateAsDate = new Date(dateAsString);
    let currentDate = new Date();
    if (dateAsDate < currentDate){
      $('#submit-button').prop( "disabled", true)
      $('#alert').html('Date cannot be in the past.')
    } else {
      $('#submit-button').prop( "disabled", false)
      $('#alert').hide();
    }
  });
</script>
{% endblock %}