{% extends 'base.html' %}

{% block title %}My Profile{% endblock %}
{% block head %} 
<link rel="stylesheet" href="../static/css/inner.css" />
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 stats">
                    <div class="inner inner-0">
                        <h1 class = "text-center">10</h1>
                        <p class= "text-center">destinations discovered.</p>
                    </div>
                </div>
                <div class="col-md-3 stats">
                    <div class="inner inner-1">
                        <h1 class = "text-center">15</h1>
                        <p class= "text-center">new adventurers met.</p>
                    </div>
                </div>
                <div class="col-md-3 stats">
                    <div class="inner inner-2">
                        <h1 class = "text-center">245</h1>
                        <p class = "text-center">total miles travelled.</p>
                    </div>
                </div>
                <div class="col-md-3 stats">
                    <div class="inner inner-3">
                        <h1 class = "text-center">$1500</h1>
                        <p class = "text-center">hard-earned money saved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="bio">
                <p>hi</p>
            </div>
        </div>
        <div class="col-md-9">
            <div id="map"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="../static/js/maps.js"></script> <!--Map script tag-->

<script
  src="https://maps.googleapis.com/maps/api/js?key={GOOGLE_API_KEY}&callback=initMap&libraries=places&v=weekly"
  defer
></script> 

{% endblock %}