{% extends 'base.html' %}

{% block title %}My Profile{% endblock %}
{% block head %} 
<link rel="stylesheet" href="../static/css/inner.css" />
{% endblock %}

{% block body %}
<div class="container">
  
    <div class="text-center text-header animated bounce">
        <h1>WHERE TO NEXT, {{user.first_name}} {{user.user_id}}?</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 stats">
                    <div class="inner inner-0">
                        <h1 class = "text-center count">{{destinations}}</h1>
                        <p class= "text-center">destinations discovered.</p>
                    </div>
                </div>
                <div class="col-md-3 stats">
                    <div class="inner inner-1">
                        <h1 class = "text-center count">{{people_met}}</h1>
                        <p class= "text-center">new adventurers met.</p>
                    </div>
                </div>
                <div class="col-md-3 stats">
                    <div class="inner inner-2">
                        <h1 class = "text-center count">{{dollars_earned}}</h1>
                        <p class = "text-center">dollars earned.</p>
                    </div>
                </div>
                <div class="col-md-3 stats">
                    <div class="inner inner-3">
                        <h1 class = "text-center count inline">100</h1>
                        <p class = "text-center">percent pure JOY.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="bio p-2">
                <h4 class="text-center font-weight-bold travel-header">Travel List</h4>

                <form action="/travel-list" id="travel-list" method="post">
                  <input type="text" name="travel-place"/>
                  <button type = "submit" class="btn btn-theme">Add</button>
                </form>
                
                <br/>

                <ul id="places-to-go">
                  {% for item in travel_list %}
                    <li>{{item.list_item}}</li>
                  {% endfor %}
                </ul>

            </div>
        </div>
        <div class="col-md-9">
            <div id="map"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="../static/js/maps.js"></script> <!--Map script tag-->

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzk5tSbrgXGYOB-CPCMAd3pvcObnK8oow&callback=initMap&libraries=places&v=weekly"
  defer
></script> 
<script>
function addItem(evt){
        evt.preventDefault();

        let url = '/travel-list'
        let formData = {
        "list_item": $("input[type='text'][name='travel-place']").val()
        }

        //console.log(formData)  
        $.post(url, formData, (res) => {
        let lst = "";
        $.each(res.list, function(i, item){
            lst += `<li list_id> ${item.list_item} </li>`
            //console.log(item)
        })
        //console.log(lst)
        // $('#places-to-go').append('<li>' + res.list_item + '</li>');
        //let lst = ""; 
        $('#places-to-go').html(lst);
        // console.log(res)
        })
}

$('#travel-list').on('submit', addItem)

$(document).on('dblclick','li', function(){
        $(this).toggleClass('strike').fadeOut('slow');    
    });

    
</script>

<script> //Animate numbers
    $('.count').each(function () {
        $(this).prop('Counter', 0).animate({
            Counter: $(this).text()
        }, {
            duration: 3000,
            easing: 'linear',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
</script>

{% endblock %}