{% extends 'base.html' %}

{% block title %}My Profile{% endblock %}
{% block head %} 
<link rel="stylesheet" href="../static/css/inner.css" />
{% endblock %}

{% block body %}
<div class="container">
  
    <div class="text-center text-header animated bounce">
        <h1>WHERE TO NEXT, {{user.first_name}} {{user.user_id}}?</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 stats">
                    <div class="inner inner-0">
                        <h1 class = "text-center count">{{destinations}}</h1>
                        <p class= "text-center">destinations discovered.</p>
                    </div>
                </div>
                <div class="col-md-3 stats">
                    <div class="inner inner-1">
                        <h1 class = "text-center count">{{people_met}}</h1>
                        <p class= "text-center">new adventurers met.</p>
                    </div>
                </div>
                <div class="col-md-3 stats">
                    <div class="inner inner-2">
                        <h1 class = "text-center count">{{dollars_earned}}</h1>
                        <p class = "text-center">dollars earned.</p>
                    </div>
                </div>
                <div class="col-md-3 stats">
                    <div class="inner inner-3">
                        <h1 class = "text-center count inline">100</h1>
                        <p class = "text-center">percent pure JOY.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="bio p-3">
                <p class="text-center">About Me</p>
                {% if user.profile %}
                <p class="font-weight-bold">{{user}}</p>
                <p class="font-weight-bold">{{user}}</p>
                {% endif %}
                <button class="btn btn-theme shadow-none" data-toggle="modal" data-target="#edit">Edit Profile</button>

           
                <ul></ul>
            </div>
        </div>
        <div class="col-md-9">
            <div id="map"></div>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="edit">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title w-100 text-center">EDIT PROFILE</h2x`>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--Form-->
          <form action="/edit-profile" method="post">
            <div class="input-group input-group-lg mb-4 mr-1">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Location" name="location"  >
            </div>
            <div class="input-group input-group-lg mb-4">
     
              <textarea name = "bio" class="form-control" placeholder="Brief Bio" name="bio" rows="3"></textarea>>
              
            </div>     
            <div class="form-group mb-4">
              <button type="submit" class="btn btn-theme form-control">Submit</button> 
            </div>  
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
<script src="../static/js/maps.js"></script> <!--Map script tag-->

<script
  src="https://maps.googleapis.com/maps/api/js?key={GOOGLE_API_KEY}&callback=initMap&libraries=places&v=weekly"
  defer
></script> 

<script> //Animate numbers
    $('.count').each(function () {
        $(this).prop('Counter', 0).animate({
            Counter: $(this).text()
        }, {
            duration: 3000,
            easing: 'linear',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
</script>



{% endblock %}