<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!--REACT-->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <!--REACT BOOTSTRAP COMPONENTS-->
    <script src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js" crossorigin></script>
    <!-- MATERIAL/SEMANTIC UI COMPONENTS-->
    <script src="https://unpkg.com/@material-ui/core@latest/umd/material-ui.development.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@material-ui/lab@4.0.0-alpha.56/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@material-ui/icons@4.9.1/index.min.js"></script>
    <!--Fonts + Font Awesome-->
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Pacifico&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
    <!-- MY CSS -->
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/inner.css" />
    <link rel="stylesheet" href="../static/css/homepage.css" />
    <!-- MORE REACT//add script tags when creating components -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
    <script src='https://unpkg.com/react-router@5.2.0/umd/react-router.min.js'></script>
    <script src='https://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.min.js'></script>
    <!--JS script tags/TYPED.JS-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>  -->
    <script src="https://rawgit.com/mattboldt/typed.js/master/lib/typed.js"></script>
    <!-- <script src="https://unpkg.com/prop-types@15.6/prop-types.min.js"></script> -->
    <script src= "https://cdn.jsdelivr.net/npm/react-countup@4.3.3/build"></script>


    <!--JSX SCRIPT TAGS-->
    <script src="/static/js/components/typing.jsx" type="text/jsx"></script>
    <!--Navigation-->
    <script src="/static/js/components//Navigation/login_modal.jsx" type="text/jsx"></script>
    <script src="/static/js/components//Navigation/register_modal.jsx" type="text/jsx"></script>
    <script src="/static/js/components//Navigation/navbar.jsx" type="text/jsx"></script>
    <!--Footer-->
    <script src="/static/js/components/footer.jsx" type="text/jsx"></script>
    <!--Trip helpers-->
    <script src="/static/js/components/Trips/all_trips.jsx" type="text/jsx"></script>
    <script src="/static/js/components/Trips/tbleheader.jsx" type="text/jsx"></script>
    <!--Past Trips-->
    <script src="/static/js/components/Trips/PastTrips/rating.jsx" type="text/jsx"></script>
    <script src="/static/js/components/Trips/PastTrips/PastDrives.jsx" type="text/jsx"></script>
    <script src="/static/js/components/Trips/PastTrips/PastRides.jsx" type="text/jsx"></script>
    <script src="/static/js/components/Trips/PastTrips/allPast.jsx" type="text/jsx"></script>
    <!--Current Trips-->
      <!--Drives-->
    <script src="/static/js/components/Trips/CurrentTrips/Drives/radio_button.jsx" type="text/jsx"></script>
    <script src="/static/js/components/Trips/CurrentTrips/Drives/contact_modal.jsx" type="text/jsx"></script>
    <script src="/static/js/components/Trips/CurrentTrips/Drives/edit_modal.jsx" type="text/jsx"></script>
    <script src="/static/js/components/Trips/CurrentTrips/Drives/delete_modal.jsx" type="text/jsx"></script>
    <script src="/static/js/components/Trips/CurrentTrips/Drives/manage_modal.jsx" type="text/jsx"></script>
    <script src="/static/js/components/Trips/CurrentTrips/Drives/currentDrives.jsx" type="text/jsx"></script>
      <!--Rides-->
    <script src="/static/js/components/Trips/CurrentTrips/Rides/seats_modal.jsx" type="text/jsx"></script>
    <script src="/static/js/components/Trips/CurrentTrips/Rides/cancel_modal.jsx" type="text/jsx"></script>
    <script src="/static/js/components/Trips/CurrentTrips/Rides/currentRides.jsx" type="text/jsx"></script>
    <script src="/static/js/components/Trips/CurrentTrips/allCurrent.jsx" type="text/jsx"></script>
    <!--Homepage-->
    <script src="/static/js/components/Homepage/Homepage.jsx" type="text/jsx"></script>
    <!--Search Components-->
    <script src="/static/js/components/Search/autocomplete.jsx" type="text/jsx"></script>
    <script src="/static/js/components/Search/req_modal.jsx" type="text/jsx"></script>
    <script src="/static/js/components/Search/matching.jsx" type="text/jsx"></script>
    <script src="/static/js/components/Search/search.jsx" type="text/jsx"></script>
    <!--Post Components-->
    <script src="/static/js/components/Post/post.jsx" type="text/jsx"></script>
    <!--Profile Components-->
    <script src="/static/js/components/Profile/stat_squares.jsx" type="text/jsx"></script>
    <script src="/static/js/components/Profile/feedback.jsx" type="text/jsx"></script>
    <script src="/static/js/components/Profile/profile.jsx" type="text/jsx"></script>
    <!--Main App Components-->
    <script src="/static/js/app.jsx" type="text/jsx"></script>


    <!-- MAPS API KEY?-->
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzk5tSbrgXGYOB-CPCMAd3pvcObnK8oow&callback=initMap&libraries=places&v=weekly"
    defer
  ></script> 

</head>
<body>
    <div id= "app"></div>
</body>
</html>